<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>controlador.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscador</servlet-name>
        <servlet-class>controlador.Buscador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDTorneo</servlet-name>
        <servlet-class>controlador.CRUDTorneo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Canchas</servlet-name>
        <servlet-class>controlador.Canchas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contactanos</servlet-name>
        <servlet-class>controlador.Contactanos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCopa</servlet-name>
        <servlet-class>controlador.GestionCopa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionEliminatoria</servlet-name>
        <servlet-class>controlador.GestionEliminatoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionLiga</servlet-name>
        <servlet-class>controlador.GestionLiga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Goles</servlet-name>
        <servlet-class>controlador.Goles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>controlador.Ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jugadores</servlet-name>
        <servlet-class>controlador.Jugadores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recuperar</servlet-name>
        <servlet-class>controlador.Recuperar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroEquipos</servlet-name>
        <servlet-class>controlador.RegistroEquipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>controlador.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tarjetas</servlet-name>
        <servlet-class>controlador.Tarjetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidacionDocumento</servlet-name>
        <servlet-class>controlador.ValidacionDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carga</servlet-name>
        <servlet-class>controlador.Carga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscador</servlet-name>
        <url-pattern>/Buscador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDTorneo</servlet-name>
        <url-pattern>/CRUDTorneo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Canchas</servlet-name>
        <url-pattern>/Canchas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactanos</servlet-name>
        <url-pattern>/Contactanos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCopa</servlet-name>
        <url-pattern>/GestionCopa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionEliminatoria</servlet-name>
        <url-pattern>/GestionEliminatoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionLiga</servlet-name>
        <url-pattern>/GestionLiga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Goles</servlet-name>
        <url-pattern>/Goles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jugadores</servlet-name>
        <url-pattern>/Jugadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recuperar</servlet-name>
        <url-pattern>/Recuperar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroEquipos</servlet-name>
        <url-pattern>/RegistroEquipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tarjetas</servlet-name>
        <url-pattern>/Tarjetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidacionDocumento</servlet-name>
        <url-pattern>/ValidacionDocumento</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPages/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/error404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Carga</servlet-name>
        <url-pattern>/Carga</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
