/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/05/2015, 10:30:19 PM
    Author     : jeisson
*/

nav, .menu-opciones,breadcrumb,.btn,a{
    display: none !important;
}

body {
  float: none !important;
  width: auto !important;
  margin:  0 !important;
  padding: 0 !important;
}