@charset "utf-8";
h1{
	clear:both;
	text-align:center;
	padding-top:80px;
	font-family: times new roman, sains serif, arial;
	color:#0F0;
	text-shadow: 2px 2px #000000;
}

section#formulario{
	margin-top:100px;
	width:450px;
	height:200px;
	margin-left:400px;
	box-shadow: 2px 2px 20px #0000CC;
	
}

label{
	margin-top:50px;
	font-family: arial,times new roman;
	font-size:14px;
}
label,input{
	display:block;
}